[submodule "external/configurations"]
	path = external/configurations
	url = https://github.com/cyrus01337/configurations
[submodule ".config/fish"]
	path = .config/fish
	url = https://github.com/cyrus01337/fish-configuration.git
