prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"
spawn-at-startup "swww-daemon"
spawn-at-startup "sh -c 'sleep 0 && swww img /home/cyrus/.config/niri/yeah.jpg'"
spawn-at-startup "mako"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "firefox"
spawn-at-startup "alacritty"
workspace "main"
workspace "development"
workspace "music"
workspace "communication"
workspace "extra"

animations {
    slowdown 1.0
}

binds {
    Mod+B { spawn "firefox"; }
    Mod+E { spawn "dolphin"; }
    Mod+R { spawn "sysmenu"; }
    Mod+T { spawn "alacritty"; }

    Mod+F { spawn "sh" "-c" "niri msg action set-window-height '100%' && niri msg action set-window-width '100%'"; }
    Mod+H { switch-preset-window-height; }
    Mod+M { spawn "sh" "-c" "niri msg action set-window-height '50%' && niri msg action set-window-width '50%'"; }
    Mod+Q { close-window; }
    Mod+W { switch-preset-column-width; }
    Mod+Shift+Q { quit; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Tab { toggle-overview; }

    Mod+Alt+Up    { focus-window-up; }
    Mod+Alt+Down  { focus-window-down; }
    Mod+Alt+Left  { focus-column-left; }
    Mod+Alt+Right { focus-column-right; }

    Mod+Up    { move-window-up; }
    Mod+Down  { move-window-down; }
    Mod+Left  { move-column-left; }
    Mod+Right { move-column-right; }

    Mod+1 { focus-workspace "main"; }
    Mod+2 { focus-workspace "development"; }
    Mod+3 { focus-workspace "music"; }
    Mod+4 { focus-workspace "communication"; }
    Mod+5 { focus-workspace "extra"; }

    Mod+Shift+1 { move-window-to-workspace "main"; }
    Mod+Shift+2 { move-window-to-workspace "development"; }
    Mod+Shift+3 { move-window-to-workspace "music"; }
    Mod+Shift+4 { move-window-to-workspace "communication"; }
    Mod+Shift+5 { move-window-to-workspace "extra"; }

    Print { spawn "flameshot" "gui" "--clipboard"; }
    Alt+Print { screenshot-window; }
    Ctrl+Print { spawn "flameshot" "screen" "--clipboard"; }
}

clipboard {
    disable-primary
}

cursor {
    hide-after-inactive-ms 250
    hide-when-typing
}

environment {
    DISPLAY ":0"
    QT_QPA_PLATFORM "wayland"
    XDG_SESSION_TYPE "wayland"
    WAYLAND_DISPLAY "wayland-1"
}

hotkey-overlay {
    hide-not-bound
    skip-at-startup
}

input {
    disable-power-key-handling
    mouse

    keyboard {
        repeat-delay 250
        repeat-rate 30

        xkb {
            layout "gb"
        }
    }

    touchpad {
        off
    }

    trackpoint {
        off
    }
}

layout {
    background-color "transparent"
    gaps 36
    center-focused-column "never"

    border {
        off
    }

    default-column-width {
        proportion 0.5;
    }

    focus-ring {
        active-gradient from="#F29441" to="#D96248" angle=180
        width 4
    }

    preset-column-widths {
        proportion 0.334
        proportion 0.5
        proportion 0.667
    }

    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    shadow {
        color "#000A"
        draw-behind-window true
        offset x=0 y=5
        on
        softness 30
        spread 8
    }
}

layer-rule {
    match namespace="^swww"
    place-within-backdrop true
}

window-rule {
    clip-to-geometry true
    geometry-corner-radius 4
    open-maximized true
}

window-rule {
    match at-startup=true app-id="firefox"
    open-on-workspace "main"
}

window-rule {
    match at-startup=true app-id="Alacritty"
    open-on-workspace "development"
}
