binds {
    Mod+A { spawn "pavucontrol"; }
    Mod+B { spawn-sh "pkill rofi || ~/bin/browser-rofi"; }
    Mod+C { spawn-sh "pkill rofi || cliphist list | rofi -dmenu | cliphist decode | wl-copy"; }
    Mod+E { spawn "dolphin"; }
    Mod+O { spawn-sh "flatpak run md.obsidian.Obsidian"; }
    Mod+R { spawn-sh "pkill rofi || rofi -show drun"; }
    Mod+S { spawn-sh "flatpak run com.spotify.Client"; }
    Mod+T { spawn "alacritty"; }

    Mod+F { fullscreen-window; }
    Mod+H { switch-preset-window-height; }
    Mod+M { spawn-sh "niri msg action set-window-height '100%'; niri msg action set-window-width '100%'"; }
    Mod+Q { close-window; }
    Mod+V { switch-preset-column-width; }
    // Mod+Alt+Q { kill-window; }
    Mod+Shift+Q { spawn "wlogout"; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Tab { toggle-overview; }

    Mod+Ctrl+Up { focus-window-up-or-column-left; }
    Mod+Ctrl+Down { focus-window-down-or-column-left; }
    Mod+Ctrl+Left { focus-column-or-monitor-left; }
    Mod+Ctrl+Right { focus-column-or-monitor-right; }

    Mod+Up { move-window-up; }
    Mod+Down { move-window-down; }
    Mod+Left { move-column-left-or-to-monitor-left; }
    Mod+Right { move-column-right-or-to-monitor-right; }

    Mod+1 { spawn-sh "bin/niri-focus-synced-workspace main"; }
    Mod+2 { spawn-sh "bin/niri-focus-synced-workspace development"; }
    Mod+3 { spawn-sh "bin/niri-focus-synced-workspace music"; }
    Mod+4 { spawn-sh "bin/niri-focus-synced-workspace communication"; }
    Mod+5 { spawn-sh "bin/niri-focus-synced-workspace extra"; }

    Mod+Shift+1 { spawn-sh "bin/niri-move-window-to-synced-workspace main"; }
    Mod+Shift+2 { spawn-sh "bin/niri-move-window-to-synced-workspace development"; }
    Mod+Shift+3 { spawn-sh "bin/niri-move-window-to-synced-workspace music"; }
    Mod+Shift+4 { spawn-sh "bin/niri-move-window-to-synced-workspace communication"; }
    Mod+Shift+5 { spawn-sh "bin/niri-move-window-to-synced-workspace extra"; }

    Print { screenshot ; }
    Alt+Print { screenshot-window; }
    Ctrl+Print { screenshot-screen; }

    F8 { spawn "autoclicker"; }

    XF86AudioNext { spawn-sh "playerctl next"; }
    XF86AudioPause { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev { spawn-sh "playerctl previous"; }
}
