spawn-sh-at-startup "swww-daemon & sleep 3 && swww img /home/cyrus/.config/niri/yeah.jpg"
spawn-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "flatpak run com.github.zocker_160.SyncThingy"
spawn-sh-at-startup "flatpak run org.atheme.audacious"

spawn-at-startup "librewolf"
spawn-at-startup "alacritty"
spawn-at-startup "gnome-system-monitor"
