[Unit]
Before=shutdown.target reboot.target
Description=Backup projects to alternative partition on system shutdown
RequiresMountsFor=/mnt/backup-linux

[Service]
ExecStart=/usr/bin/rsync -auv --delete --exclude=".next/" --exclude="node_modules/" /home/cyrus/Projects /mnt/backup-linux
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
